-injars 'target/GCodeViewer.jar'
-outjars 'proguard/GCodeViewerObfuscated.jar'
-injars 'target/lib/Configuration-1.3.jar'
-outjars 'proguard/Configuration-1.3Obfuscated.jar'
-injars 'target/lib/Stenographer-1.10.jar'
-outjars 'proguard/Stenographer-1.10Obfuscated.jar'
-injars 'target/lib/Licence-1.1.jar'
-outjars 'proguard/Licence-1.1Obfuscated.jar'

-libraryjars /home/wildfly/.jenkins/javaDistros11/linux-x64/jdk-11.0.2/jmods
-libraryjars 'target/lib'

-ignorewarnings
-dontskipnonpubliclibraryclassmembers
-dontshrink
-printusage proguard.usage
-dontoptimize
-printmapping proguard.mapping
-dontusemixedcaseclassnames
-flattenpackagehierarchy ''
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,LocalVariable*Table,*Annotation*,Synthetic,EnclosingMethod
-adaptresourcefilecontents **.fxml,META-INF/MANIFEST.MF
-verbose
-dontnote

-keep,includedescriptorclasses,allowshrinking class * extends java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    <fields>;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

-keep public class * extends celuk.gcodeviewer.i18n.languagedata.LanguageData { <fields>; <methods>; }
-keep public class celuk.gcodeviewer.engine.GCodeViewerConfiguration { <fields>; <methods>; }
-keep public class celuk.gcodeviewer.engine.GCodeViewerGUIConfiguration { <fields>; <methods>; }
-keep public class celuk.gcodeviewer.engine.PrintVolumeDetails { <fields>; <methods>; }

-keepclassmembers,allowshrinking enum  * {
    <fields>;
    <methods>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

# Keep - Applications. Keep all application classes, along with their 'main'
# methods.
-keepclasseswithmembers public class celuk.gcodeviewer.engine.GCodeViewer {
    public static void main(java.lang.String[]);
}
