-injars 'target\GCodeViewer.jar'
-outjars 'proguard\GCodeViewerObfuscated.jar'
-injars 'target\lib\Configuration-1.2.jar'
-outjars 'proguard\Configuration-1.2Obfuscated.jar'
-injars 'target\lib\Stenographer-1.9.jar'
-outjars 'proguard\Stenographer-1.9Obfuscated.jar'
-injars 'target\lib\Licence-1.0.jar'
-outjars 'proguard\Licence-1.0Obfuscated.jar'

-libraryjars 'C:\Program Files\Java\jre1.8.0_181\lib\rt.jar'
-libraryjars 'C:\Program Files\Java\jre1.8.0_181\lib\jce.jar'
-libraryjars 'target\lib'

-ignorewarnings
-dontskipnonpubliclibraryclassmembers
-dontshrink
-printusage proguard.usage
-dontoptimize
-printmapping proguard.mapping
-dontusemixedcaseclassnames
-flattenpackagehierarchy ''
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,LocalVariable*Table,*Annotation*,Synthetic,EnclosingMethod
-adaptresourcefilecontents **.fxml,META-INF/MANIFEST.MF
-verbose
-dontnote

-keep,includedescriptorclasses,allowshrinking class * extends java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    <fields>;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

-keep public class * extends celtech.gcodeviewer.i18n.languagedata.LanguageData { <fields>; <methods>; }
-keep public class celtech.gcodeviewer.engine.GCodeViewerConfiguration { <fields>; <methods>; }
-keep public class celtech.gcodeviewer.engine.GCodeViewerGUIConfiguration { <fields>; <methods>; }
-keep public class celtech.gcodeviewer.engine.PrintVolumeDetails { <fields>; <methods>; }

-keepclassmembers,allowshrinking enum  * {
    <fields>;
    <methods>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

# Keep - Applications. Keep all application classes, along with their 'main'
# methods.
-keepclasseswithmembers public class celtech.gcodeviewer.engine.GCodeViewer {
    public static void main(java.lang.String[]);
}
