{"typeColourMap":[
    {"type":"FILL",       "colour":[0.7882, 0.8667, 0.2039]},
    {"type":"SKIN",       "colour":[0.3020, 0.9569, 0.9804]},
    {"type":"WALL-INNER", "colour":[0.4235, 0.3020, 0.9804]},
    {"type":"WALL-OUTER", "colour":[0.9804, 0.3020, 0.5373]},
],
"defaultTypeColour":[0.9882, 0.3608, 0.0471],
"moveColour":[0.0, 0.0, 1.0],
"tool0Colour":[1.0, 1.0, 0.0],
"tool1Colour":[0.0, 1.0, 1.0],
"filamentFactor":2.93869,
"printVolume":[210.0, 150.0, 100.0],
"lightPosition":[105.0, 37.5, 200.0],
"lightColour":[1.0, 1.0, 1.0]
}
